[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
gunicorn = "*"
requests = "*"

[scripts]
s = "gunicorn -b 127.0.0.1:3001 --workers=4 app:app"

[requires]
python_version = "3.7"
