[Unit]
Description=Ai forces judge
After=nginx.service

[Service]
PIDFile=/run/aiforcesjudge.pid
WorkingDirectory=/home/aiforces/AIforcesJudge

StandartInput=null
StandartOutput=syslog
StandardError=syslog

User=aiforces
Group=aiforces

ExecStart=/usr/local/bin/pipenv run s
TimeoutSec=5

[Install]
WantedBy=multi-user.target